html{
    background-color: #1c242d;
}


.contain {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20%;
  margin: 7%;
}




div img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}
